body,
html {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #eee;
    border-bottom: 1px solid black;
    height: 50px;
}

.post-head {
    height: 60px;
    background-color: #fafafa;
}
.post-head-container {
    display: flex;
    position: relative;
    padding: 16px;
}

.post-head-profile {
    width: 35px;
    height: 35px;
}

.post-head-profileImg {
    width: 100%;
    border-radius: 50%;
}

.post-head-name {
    padding-left: 15px;
    flex-grow: 1;
    line-height: 26px;
}

.post-contents {
    width: 100%;
    height: auto;
}

.post-contentsImg {
    width: 100%;
}

.post-info {
    height: 40px;
    background-color: #fafafa;
}

.post-info-container {
    display: flex;
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
}

.post-info-pages {
    flex-grow: 1;
}

.infoBtn {
    width: 38px;
    height: 38px;
    font-size: 24px;
    text-align: center;
    line-height: 36px !important;
    color: #2d3436;
}

.fa-heart {
    color: red;
}

.post-comments {
    height: 100px;
    background-color: bisque;
    padding: 0 10px;
    font-size: 1rem;
}

.post-comments-like {
    display: flex;
    position: relative;
    align-items: center;
    justify-items: flex-end;
}

.post-comments-likeImg {
    padding-top: 5px;
    width: 25px;
    border-radius: 50%;
}

.post-comments-likeNumber {
    padding-left: 10px;
}
