body,
html {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #eee;
    border-bottom: 1px solid black;
}

.post-head {
    height: 60px;
    background-color: aquamarine;
}
.post-head-container {
    display: flex;
    position: relative;
    padding: 16px;
}

.post-head-profile {
    width: 35px;
    height: 35px;
}

.post-head-profileImg {
    width: 100%;
    border-radius: 50%;
}

.post-head-name {
    padding-left: 15px;
    flex-grow: 1;
}

.post-contents {
    width: 100%;
    height: auto;
    background-color: bisque;
}

.post-contentsImg {
    width: 100%;
}

.post .post-info {
    height: 40px;
    background-color: aqua;
}

.post .post-comments {
    height: 100px;
    background-color: bisque;
}
